<!DOCTYPE html>
{% extends 'base.html' %}

<!--
|--------------------------|
|                          |
|   |-----|       |-----|  |
|   | * * |       | *   |<---- task-item
|   | *   |       |     |  |
|   |-----|       |-----|  |
|                          |
|   |-----|       |-----|  |
|   | *   |       | * *<------- task-sub-item
|   |     |       | * * |  |
|   |-----|       |-----|  |
|                          |
|--------------------------|
^ tasks-contianer

-->

{% block content %}
<h2> Roost Content </h2>
<div class="tasks-container">
	{% for task_item_name, task_item_value in task_items.items() %}
		<div class="task-item">
		<div class="task-title">
		<h1>{{task_item_name}}</h1>
		</div>
		<div class="task-sub-items">
		{% for task_sub_item in task_item_value %}
		<div class="task-sub-item">
			<h3>{{task_sub_item}}</h3>
		</div>
		{% endfor %}
		</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}

